# MTA Data Challenges

In [4]:
from __future__ import division
import csv
from datetime import datetime
from collections import Counter
import matplotlib.pyplot as plt

### Challenge 1

In [2]:
# !curl -O http://web.mta.info/developers/data/nyct/turnstile/turnstile_150627.txt

In [6]:
with open('turnstile_160109.txt') as f:
    reader = csv.reader(f)
    rows = [[cell.strip() for cell in row] for row in reader]

In [7]:
assert rows.pop(0) == ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME',
                       'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES',
                       'EXITS']

In [8]:
raw_readings = {}
for row in rows:
    raw_readings.setdefault(tuple(row[:4]), []).append(tuple(row[4:]))

In [9]:
raw_readings.items()[0]

(('N134', 'R385', '00-00-00', 'ROCKAWAY BLVD'),
 [('A',
   'IND',
   '01/02/2016',
   '00:00:00',
   'REGULAR',
   '0007142470',
   '0002868386'),
  ('A',
   'IND',
   '01/02/2016',
   '04:00:00',
   'REGULAR',
   '0007142484',
   '0002868393'),
  ('A',
   'IND',
   '01/02/2016',
   '08:00:00',
   'REGULAR',
   '0007142513',
   '0002868412'),
  ('A',
   'IND',
   '01/02/2016',
   '12:00:00',
   'REGULAR',
   '0007142551',
   '0002868438'),
  ('A',
   'IND',
   '01/02/2016',
   '16:00:00',
   'REGULAR',
   '0007142560',
   '0002868453'),
  ('A',
   'IND',
   '01/02/2016',
   '20:00:00',
   'REGULAR',
   '0007142598',
   '0002868480'),
  ('A',
   'IND',
   '01/03/2016',
   '00:00:00',
   'REGULAR',
   '0007142668',
   '0002868490'),
  ('A',
   'IND',
   '01/03/2016',
   '04:00:00',
   'REGULAR',
   '0007142700',
   '0002868493'),
  ('A',
   'IND',
   '01/03/2016',
   '08:00:00',
   'REGULAR',
   '0007142725',
   '0002868499'),
  ('A',
   'IND',
   '01/03/2016',
   '12:00:00',
   'REGULAR',
   '0007142759',
   '0002868537'),
  ('A',
   'IND',
   '01/03/2016',
   '16:00:00',
   'REGULAR',
   '0007142820',
   '0002868584'),
  ('A',
   'IND',
   '01/03/2016',
   '20:00:00',
   'REGULAR',
   '0007142882',
   '0002868623'),
  ('A',
   'IND',
   '01/04/2016',
   '00:00:00',
   'REGULAR',
   '0007142925',
   '0002868633'),
  ('A',
   'IND',
   '01/04/2016',
   '04:00:00',
   'REGULAR',
   '0007142950',
   '0002868635'),
  ('A',
   'IND',
   '01/04/2016',
   '08:00:00',
   'REGULAR',
   '0007143332',
   '0002868688'),
  ('A',
   'IND',
   '01/04/2016',
   '12:00:00',
   'REGULAR',
   '0007143681',
   '0002868745'),
  ('A',
   'IND',
   '01/04/2016',
   '16:00:00',
   'REGULAR',
   '0007143892',
   '0002868798'),
  ('A',
   'IND',
   '01/04/2016',
   '20:00:00',
   'REGULAR',
   '0007144076',
   '0002868910'),
  ('A',
   'IND',
   '01/05/2016',
   '00:00:00',
   'REGULAR',
   '0007144165',
   '0002868949'),
  ('A',
   'IND',
   '01/05/2016',
   '04:00:00',
   'REGULAR',
   '0007144177',
   '0002868958'),
  ('A',
   'IND',
   '01/05/2016',
   '08:00:00',
   'REGULAR',
   '0007144722',
   '0002868988'),
  ('A',
   'IND',
   '01/05/2016',
   '12:00:00',
   'REGULAR',
   '0007145061',
   '0002869005'),
  ('A',
   'IND',
   '01/05/2016',
   '16:00:00',
   'REGULAR',
   '0007145254',
   '0002869052'),
  ('A',
   'IND',
   '01/05/2016',
   '20:00:00',
   'REGULAR',
   '0007145446',
   '0002869131'),
  ('A',
   'IND',
   '01/06/2016',
   '00:00:00',
   'REGULAR',
   '0007145553',
   '0002869151'),
  ('A',
   'IND',
   '01/06/2016',
   '04:00:00',
   'REGULAR',
   '0007145582',
   '0002869160'),
  ('A',
   'IND',
   '01/06/2016',
   '08:00:00',
   'REGULAR',
   '0007146011',
   '0002869214'),
  ('A',
   'IND',
   '01/06/2016',
   '12:00:00',
   'REGULAR',
   '0007146353',
   '0002869257'),
  ('A',
   'IND',
   '01/06/2016',
   '16:00:00',
   'REGULAR',
   '0007146575',
   '0002869308'),
  ('A',
   'IND',
   '01/06/2016',
   '20:00:00',
   'REGULAR',
   '0007146783',
   '0002869406'),
  ('A',
   'IND',
   '01/07/2016',
   '00:00:00',
   'REGULAR',
   '0007146890',
   '0002869439'),
  ('A',
   'IND',
   '01/07/2016',
   '04:00:00',
   'REGULAR',
   '0007146910',
   '0002869448'),
  ('A',
   'IND',
   '01/07/2016',
   '08:00:00',
   'REGULAR',
   '0007147369',
   '0002869488'),
  ('A',
   'IND',
   '01/07/2016',
   '12:00:00',
   'REGULAR',
   '0007147726',
   '0002869538'),
  ('A',
   'IND',
   '01/07/2016',
   '16:00:00',
   'REGULAR',
   '0007147957',
   '0002869596'),
  ('A',
   'IND',
   '01/07/2016',
   '20:00:00',
   'REGULAR',
   '0007148174',
   '0002869677'),
  ('A',
   'IND',
   '01/08/2016',
   '00:00:00',
   'REGULAR',
   '0007148286',
   '0002869718'),
  ('A',
   'IND',
   '01/08/2016',
   '04:00:00',
   'REGULAR',
   '0007148308',
   '0002869723'),
  ('A',
   'IND',
   '01/08/2016',
   '08:00:00',
   'REGULAR',
   '0007148742',
   '0002869771'),
  ('A',
   'IND',
   '01/08/2016',
   '12:00:00',
   'REGULAR',
   '0007149068',
   '0002869829'),
  ('A',
   'IND',
   '01/08/2016',
   '16:00:00',
   'REGULAR',
   '0007149308',
   '0002869887'),
  ('A',
   'IND',
   '01/08/2016',
   '20:00:00',
   'REGULAR',
   '0007149545',
   '0002869969')])

`raw_readings` is a solution to Challenge 1.

### Challenge 2

In [7]:
datetime_cumulative = {turnstile: [(datetime.strptime(date + time,
                                                      '%m/%d/%Y%X'),
                                    int(in_cumulative))
                                   for _, _, date, time,
                                       _, in_cumulative, _ in rows]
                       for turnstile, rows in raw_readings.items()}

In [8]:
for rows in datetime_cumulative.values():
    assert rows == sorted(rows)

AssertionError:

In [9]:
datetime_count_times = {turnstile: [[rows[i][0],
                                     rows[i+1][1] - rows[i][1],
                                     rows[i+1][0] - rows[i][0]]
                                    for i in range(len(rows) - 1)]
                        for turnstile, rows in datetime_cumulative.items()}

In [10]:
all_counts = [count for rows in datetime_count_times.values() for _, count, _ in rows]
all_counts.sort()
print all_counts[-50:]

[2582, 2583, 2593, 2596, 2613, 2624, 2626, 2654, 2657, 2671, 2677, 2684, 2696, 2697, 2717, 2721, 2734, 2738, 2741, 2766, 2785, 2790, 2830, 2841, 2855, 2860, 2863, 2877, 2909, 2937, 2987, 2995, 3029, 3077, 3116, 3118, 3166, 3198, 3201, 3201, 3390, 85999, 86329, 86599, 1056261, 3144688, 83603316, 117440512, 416445268, 1212629582]

In [ ]:
# print all_counts[:1200]

In [10]:
all_times = [duration.total_seconds() / 60 / 60
             for rows in datetime_count_times.values()
             for _, _, duration in rows]
print Counter(all_times).most_common(10)

[(4.0, 171881), (4.2, 10393), (0.02222222222222222, 254), (8.0, 229), (0.022500000000000003, 227), (4.433333333333334, 160), (2.908333333333333, 56), (0.02277777777777778, 46), (0.023611111111111114, 39), (0.025, 32)]

In [11]:
datetime_counts = {turnstile: [(time, count)
                               for (time, count, _) in rows
                               if 0 <= count <= 5000]
                   for turnstile, rows in datetime_count_times.items()}

`datetime_counts` is a solution to Challenge 2.

In [12]:
all_good_counts = [count for rows in datetime_counts.values() for _, count in rows]
print len(all_good_counts) / len(all_counts)

NameError: name 'all_counts' is not defined

In [13]:
all_good_counts.sort()
print all_good_counts[-5:]

[3166, 3198, 3201, 3201, 3390]

In [14]:
print all_good_counts[:5]

[0, 0, 0, 0, 0]

### Challenge 3

In [15]:
from pprint import pprint
import pandas as pd
day_counts = {}
for turnstile, rows in datetime_counts.items():
    by_day = {}
    for time, count in rows:
        day = time.date()
        by_day[day] = by_day.get(day, 0) + count
    day_counts[turnstile] = sorted(by_day.items())
# pprint (day_counts)

data = pd.DataFrame.from_dict(day_counts,orient='index')

In [16]:
data.head()

,0,1,2,3,4,5,6
"(N134, R385, 00-00-00, ROCKAWAY BLVD)","(2016-01-02, 198)","(2016-01-03, 257)","(2016-01-04, 1240)","(2016-01-05, 1388)","(2016-01-06, 1337)","(2016-01-07, 1396)","(2016-01-08, 1259)"
"(R190, R038, 00-00-02, 215 ST)","(2016-01-02, 312)","(2016-01-03, 269)","(2016-01-04, 630)","(2016-01-05, 609)","(2016-01-06, 660)","(2016-01-07, 664)","(2016-01-08, 611)"
"(PTH08, R540, 00-01-06, PATH WTC)","(2016-01-02, 196)","(2016-01-03, 99)","(2016-01-04, 868)","(2016-01-05, 876)","(2016-01-06, 853)","(2016-01-07, 834)","(2016-01-08, 664)"
"(R159, R164, 01-06-00, 66 ST-LINCOLN)","(2016-01-02, 75)","(2016-01-03, 51)","(2016-01-04, 75)","(2016-01-05, 81)","(2016-01-06, 72)","(2016-01-07, 70)","(2016-01-08, 40)"
"(H016, R250, 00-00-02, GRAND ST)","(2016-01-02, 387)","(2016-01-03, 288)","(2016-01-04, 886)","(2016-01-05, 897)","(2016-01-06, 925)","(2016-01-07, 979)","(2016-01-08, 921)"

In [17]:
nlist = {}
empty = []
for k,v in day_counts.items():
    t = zip(*list(v))
    if len(t) < 2:
        empty.append(tuple([k,v]))
    else:
        nlist[k]=v

In [18]:
print len(day_counts),len(nlist)

4571 4544

In [19]:
extreme = []
for k,v in nlist.items():
    t = zip(*list(v))
    dz, cz = t[0], t[1]
    if max(cz) > 5*10**3:
        extreme.append(tuple([max(cz),k,v]))

In [20]:
pprint (sorted(extreme,key=lambda count: count[0]))

[(5011,
  ('N063A', 'R011', '00-00-06', '42 ST-PORT AUTH'),
  [(datetime.date(2016, 1, 2), 2219),
   (datetime.date(2016, 1, 3), 1818),
   (datetime.date(2016, 1, 4), 4896),
   (datetime.date(2016, 1, 5), 5011),
   (datetime.date(2016, 1, 6), 4767),
   (datetime.date(2016, 1, 7), 4688),
   (datetime.date(2016, 1, 8), 4427)]),
 (5038,
  ('R221', 'R170', '01-00-02', '14 ST-UNION SQ'),
  [(datetime.date(2016, 1, 2), 2938),
   (datetime.date(2016, 1, 3), 2462),
   (datetime.date(2016, 1, 4), 4589),
   (datetime.date(2016, 1, 5), 4608),
   (datetime.date(2016, 1, 6), 4896),
   (datetime.date(2016, 1, 7), 5038),
   (datetime.date(2016, 1, 8), 4337)]),
 (5054,
  ('N324', 'R018', '00-06-03', 'JKSN HT-ROOSVLT'),
  [(datetime.date(2016, 1, 2), 2299),
   (datetime.date(2016, 1, 3), 1775),
   (datetime.date(2016, 1, 4), 4240),
   (datetime.date(2016, 1, 5), 5054),
   (datetime.date(2016, 1, 6), 3438),
   (datetime.date(2016, 1, 7), 3341),
   (datetime.date(2016, 1, 8), 3254)]),
 (5062,
  ('R417', 'R222', '00-00-00', 'PARKCHESTER'),
  [(datetime.date(2016, 1, 2), 2870),
   (datetime.date(2016, 1, 3), 2392),
   (datetime.date(2016, 1, 4), 4732),
   (datetime.date(2016, 1, 5), 4618),
   (datetime.date(2016, 1, 6), 5062),
   (datetime.date(2016, 1, 7), 4883),
   (datetime.date(2016, 1, 8), 4731)]),
 (5108,
  ('R261', 'R205', '00-00-02', '149/GRAND CONC'),
  [(datetime.date(2016, 1, 2), 2699),
   (datetime.date(2016, 1, 3), 2189),
   (datetime.date(2016, 1, 4), 5108),
   (datetime.date(2016, 1, 5), 4700),
   (datetime.date(2016, 1, 6), 4967),
   (datetime.date(2016, 1, 7), 5092),
   (datetime.date(2016, 1, 8), 4864)]),
 (5119,
  ('N507', 'R023', '00-03-05', '34 ST-HERALD SQ'),
  [(datetime.date(2016, 1, 2), 1944),
   (datetime.date(2016, 1, 3), 1495),
   (datetime.date(2016, 1, 4), 5014),
   (datetime.date(2016, 1, 5), 5080),
   (datetime.date(2016, 1, 6), 5048),
   (datetime.date(2016, 1, 7), 5119),
   (datetime.date(2016, 1, 8), 4923)]),
 (5146,
  ('A022', 'R022', '01-00-01', '34 ST-HERALD SQ'),
  [(datetime.date(2016, 1, 2), 4357),
   (datetime.date(2016, 1, 3), 3195),
   (datetime.date(2016, 1, 4), 4614),
   (datetime.date(2016, 1, 5), 4869),
   (datetime.date(2016, 1, 6), 5146),
   (datetime.date(2016, 1, 7), 4870),
   (datetime.date(2016, 1, 8), 4727)]),
 (5147,
  ('A034', 'R170', '03-03-02', '14 ST-UNION SQ'),
  [(datetime.date(2016, 1, 2), 3528),
   (datetime.date(2016, 1, 3), 2700),
   (datetime.date(2016, 1, 4), 4021),
   (datetime.date(2016, 1, 5), 4076),
   (datetime.date(2016, 1, 6), 5147),
   (datetime.date(2016, 1, 7), 5085),
   (datetime.date(2016, 1, 8), 4166)]),
 (5164,
  ('N509', 'R203', '00-00-00', '23 ST'),
  [(datetime.date(2016, 1, 2), 1251),
   (datetime.date(2016, 1, 3), 1048),
   (datetime.date(2016, 1, 4), 3567),
   (datetime.date(2016, 1, 5), 3591),
   (datetime.date(2016, 1, 6), 5164),
   (datetime.date(2016, 1, 7), 3721),
   (datetime.date(2016, 1, 8), 3577)]),
 (5184,
  ('A035', 'R170', '00-00-04', '14 ST-UNION SQ'),
  [(datetime.date(2016, 1, 2), 1792),
   (datetime.date(2016, 1, 3), 1645),
   (datetime.date(2016, 1, 4), 4375),
   (datetime.date(2016, 1, 5), 4651),
   (datetime.date(2016, 1, 6), 5036),
   (datetime.date(2016, 1, 7), 5184),
   (datetime.date(2016, 1, 8), 4437)]),
 (5186,
  ('R602', 'R108', '00-06-01', 'BOROUGH HALL'),
  [(datetime.date(2016, 1, 2), 1732),
   (datetime.date(2016, 1, 3), 1317),
   (datetime.date(2016, 1, 4), 4535),
   (datetime.date(2016, 1, 5), 4733),
   (datetime.date(2016, 1, 6), 5024),
   (datetime.date(2016, 1, 7), 5186),
   (datetime.date(2016, 1, 8), 4828)]),
 (5204,
  ('R169', 'R168', '01-03-03', '96 ST'),
  [(datetime.date(2016, 1, 2), 2656),
   (datetime.date(2016, 1, 3), 2290),
   (datetime.date(2016, 1, 4), 5124),
   (datetime.date(2016, 1, 5), 5204),
   (datetime.date(2016, 1, 6), 3888),
   (datetime.date(2016, 1, 7), 3982),
   (datetime.date(2016, 1, 8), 3584)]),
 (5259,
  ('R238', 'R046', '00-00-05', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 1776),
   (datetime.date(2016, 1, 3), 1141),
   (datetime.date(2016, 1, 4), 5259),
   (datetime.date(2016, 1, 5), 4447),
   (datetime.date(2016, 1, 6), 4495),
   (datetime.date(2016, 1, 7), 4380),
   (datetime.date(2016, 1, 8), 4270)]),
 (5286,
  ('R250', 'R179', '00-00-0A', '86 ST'),
  [(datetime.date(2016, 1, 2), 4265),
   (datetime.date(2016, 1, 3), 2798),
   (datetime.date(2016, 1, 4), 4961),
   (datetime.date(2016, 1, 5), 4601),
   (datetime.date(2016, 1, 6), 4650),
   (datetime.date(2016, 1, 7), 4573),
   (datetime.date(2016, 1, 8), 5286)]),
 (5314,
  ('N063A', 'R011', '00-00-07', '42 ST-PORT AUTH'),
  [(datetime.date(2016, 1, 2), 2493),
   (datetime.date(2016, 1, 3), 1849),
   (datetime.date(2016, 1, 4), 5134),
   (datetime.date(2016, 1, 5), 5314),
   (datetime.date(2016, 1, 6), 4991),
   (datetime.date(2016, 1, 7), 4845),
   (datetime.date(2016, 1, 8), 4553)]),
 (5326,
  ('PTH08', 'R540', '00-04-04', 'PATH WTC'),
  [(datetime.date(2016, 1, 2), 1988),
   (datetime.date(2016, 1, 3), 1721),
   (datetime.date(2016, 1, 4), 5326),
   (datetime.date(2016, 1, 5), 5198),
   (datetime.date(2016, 1, 6), 4239),
   (datetime.date(2016, 1, 7), 4305),
   (datetime.date(2016, 1, 8), 3837)]),
 (5334,
  ('R533', 'R055', '00-03-00', 'FLUSHING-MAIN'),
  [(datetime.date(2016, 1, 2), 3192),
   (datetime.date(2016, 1, 3), 2634),
   (datetime.date(2016, 1, 4), 4886),
   (datetime.date(2016, 1, 5), 4621),
   (datetime.date(2016, 1, 6), 5323),
   (datetime.date(2016, 1, 7), 5322),
   (datetime.date(2016, 1, 8), 5334)]),
 (5336,
  ('R512', 'R092', '00-03-00', 'BROADWAY'),
  [(datetime.date(2016, 1, 2), 4036),
   (datetime.date(2016, 1, 3), 3198),
   (datetime.date(2016, 1, 4), 5336),
   (datetime.date(2016, 1, 5), 3830),
   (datetime.date(2016, 1, 6), 4489),
   (datetime.date(2016, 1, 7), 4627),
   (datetime.date(2016, 1, 8), 4793)]),
 (5341,
  ('A022', 'R022', '01-00-02', '34 ST-HERALD SQ'),
  [(datetime.date(2016, 1, 2), 4538),
   (datetime.date(2016, 1, 3), 3209),
   (datetime.date(2016, 1, 4), 5341),
   (datetime.date(2016, 1, 5), 4928),
   (datetime.date(2016, 1, 6), 5325),
   (datetime.date(2016, 1, 7), 5127),
   (datetime.date(2016, 1, 8), 5317)]),
 (5384,
  ('R238', 'R046', '00-03-04', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 5384),
   (datetime.date(2016, 1, 3), 3876),
   (datetime.date(2016, 1, 4), 996),
   (datetime.date(2016, 1, 5), 0),
   (datetime.date(2016, 1, 6), 0),
   (datetime.date(2016, 1, 7), 0),
   (datetime.date(2016, 1, 8), 0)]),
 (5386,
  ('A022', 'R022', '01-00-00', '34 ST-HERALD SQ'),
  [(datetime.date(2016, 1, 2), 4806),
   (datetime.date(2016, 1, 3), 3463),
   (datetime.date(2016, 1, 4), 4455),
   (datetime.date(2016, 1, 5), 5074),
   (datetime.date(2016, 1, 6), 5352),
   (datetime.date(2016, 1, 7), 5386),
   (datetime.date(2016, 1, 8), 5047)]),
 (5505,
  ('R248', 'R178', '00-00-01', '77 ST'),
  [(datetime.date(2016, 1, 2), 0),
   (datetime.date(2016, 1, 3), 0),
   (datetime.date(2016, 1, 4), 4031),
   (datetime.date(2016, 1, 5), 5505),
   (datetime.date(2016, 1, 6), 4656),
   (datetime.date(2016, 1, 7), 4768),
   (datetime.date(2016, 1, 8), 3379)]),
 (5548,
  ('R221', 'R170', '01-00-01', '14 ST-UNION SQ'),
  [(datetime.date(2016, 1, 2), 3328),
   (datetime.date(2016, 1, 3), 2916),
   (datetime.date(2016, 1, 4), 4937),
   (datetime.date(2016, 1, 5), 5097),
   (datetime.date(2016, 1, 6), 5328),
   (datetime.date(2016, 1, 7), 5548),
   (datetime.date(2016, 1, 8), 4649)]),
 (5574,
  ('N051', 'R084', '02-00-01', '59 ST COLUMBUS'),
  [(datetime.date(2016, 1, 2), 2762),
   (datetime.date(2016, 1, 3), 2172),
   (datetime.date(2016, 1, 4), 5288),
   (datetime.date(2016, 1, 5), 5450),
   (datetime.date(2016, 1, 6), 5486),
   (datetime.date(2016, 1, 7), 5574),
   (datetime.date(2016, 1, 8), 5289)]),
 (5603,
  ('R151', 'R033', '00-00-01', 'TIMES SQ-42 ST'),
  [(datetime.date(2016, 1, 2), 4826),
   (datetime.date(2016, 1, 3), 3840),
   (datetime.date(2016, 1, 4), 4406),
   (datetime.date(2016, 1, 5), 3742),
   (datetime.date(2016, 1, 6), 4816),
   (datetime.date(2016, 1, 7), 5603),
   (datetime.date(2016, 1, 8), 5141)]),
 (5613,
  ('R250', 'R179', '00-00-02', '86 ST'),
  [(datetime.date(2016, 1, 2), 3740),
   (datetime.date(2016, 1, 3), 2759),
   (datetime.date(2016, 1, 4), 5358),
   (datetime.date(2016, 1, 5), 5358),
   (datetime.date(2016, 1, 6), 5410),
   (datetime.date(2016, 1, 7), 5424),
   (datetime.date(2016, 1, 8), 5613)]),
 (5724,
  ('R250', 'R179', '00-00-01', '86 ST'),
  [(datetime.date(2016, 1, 2), 3497),
   (datetime.date(2016, 1, 3), 2833),
   (datetime.date(2016, 1, 4), 4983),
   (datetime.date(2016, 1, 5), 5320),
   (datetime.date(2016, 1, 6), 5528),
   (datetime.date(2016, 1, 7), 5528),
   (datetime.date(2016, 1, 8), 5724)]),
 (5731,
  ('N083', 'R138', '01-06-01', 'W 4 ST-WASH SQ'),
  [(datetime.date(2016, 1, 2), 4186),
   (datetime.date(2016, 1, 3), 3525),
   (datetime.date(2016, 1, 4), 4854),
   (datetime.date(2016, 1, 5), 4930),
   (datetime.date(2016, 1, 6), 5425),
   (datetime.date(2016, 1, 7), 5731),
   (datetime.date(2016, 1, 8), 4801)]),
 (5734,
  ('N329', 'R201', '00-03-00', 'WOODHAVEN BLVD'),
  [(datetime.date(2016, 1, 2), 2898),
   (datetime.date(2016, 1, 3), 1907),
   (datetime.date(2016, 1, 4), 3249),
   (datetime.date(2016, 1, 5), 3282),
   (datetime.date(2016, 1, 6), 5734),
   (datetime.date(2016, 1, 7), 2627),
   (datetime.date(2016, 1, 8), 2426)]),
 (5772,
  ('H007', 'R248', '00-00-01', '1 AV'),
  [(datetime.date(2016, 1, 2), 3634),
   (datetime.date(2016, 1, 3), 2916),
   (datetime.date(2016, 1, 4), 5216),
   (datetime.date(2016, 1, 5), 5568),
   (datetime.date(2016, 1, 6), 5772),
   (datetime.date(2016, 1, 7), 5694),
   (datetime.date(2016, 1, 8), 5680)]),
 (5868,
  ('N507', 'R023', '00-03-06', '34 ST-HERALD SQ'),
  [(datetime.date(2016, 1, 2), 2344),
   (datetime.date(2016, 1, 3), 1743),
   (datetime.date(2016, 1, 4), 5868),
   (datetime.date(2016, 1, 5), 5725),
   (datetime.date(2016, 1, 6), 5548),
   (datetime.date(2016, 1, 7), 5743),
   (datetime.date(2016, 1, 8), 5417)]),
 (5906,
  ('R169', 'R168', '01-03-05', '96 ST'),
  [(datetime.date(2016, 1, 2), 2793),
   (datetime.date(2016, 1, 3), 2470),
   (datetime.date(2016, 1, 4), 5804),
   (datetime.date(2016, 1, 5), 5906),
   (datetime.date(2016, 1, 6), 4448),
   (datetime.date(2016, 1, 7), 4824),
   (datetime.date(2016, 1, 8), 4327)]),
 (5922,
  ('N606', 'R025', '00-00-06', 'JAMAICA CENTER'),
  [(datetime.date(2016, 1, 2), 3051),
   (datetime.date(2016, 1, 3), 2311),
   (datetime.date(2016, 1, 4), 5668),
   (datetime.date(2016, 1, 5), 5354),
   (datetime.date(2016, 1, 6), 5566),
   (datetime.date(2016, 1, 7), 5798),
   (datetime.date(2016, 1, 8), 5922)]),
 (5949,
  ('N539A', 'R288', '00-06-00', '7 AV'),
  [(datetime.date(2016, 1, 2), 2182),
   (datetime.date(2016, 1, 3), 1902),
   (datetime.date(2016, 1, 4), 4204),
   (datetime.date(2016, 1, 5), 5858),
   (datetime.date(2016, 1, 6), 5949),
   (datetime.date(2016, 1, 7), 4478),
   (datetime.date(2016, 1, 8), 3938)]),
 (5956,
  ('R513', 'R093', '00-03-00', '30 AV'),
  [(datetime.date(2016, 1, 2), 4602),
   (datetime.date(2016, 1, 3), 3642),
   (datetime.date(2016, 1, 4), 5956),
   (datetime.date(2016, 1, 5), 4495),
   (datetime.date(2016, 1, 6), 4977),
   (datetime.date(2016, 1, 7), 5380),
   (datetime.date(2016, 1, 8), 5181)]),
 (6002,
  ('N601', 'R319', '00-00-03', 'LEXINGTON AV/63'),
  [(datetime.date(2016, 1, 2), 2362),
   (datetime.date(2016, 1, 3), 2084),
   (datetime.date(2016, 1, 4), 4795),
   (datetime.date(2016, 1, 5), 5329),
   (datetime.date(2016, 1, 6), 5500),
   (datetime.date(2016, 1, 7), 5666),
   (datetime.date(2016, 1, 8), 6002)]),
 (6047,
  ('H009', 'R235', '00-03-04', 'BEDFORD AV'),
  [(datetime.date(2016, 1, 2), 5520),
   (datetime.date(2016, 1, 3), 4144),
   (datetime.date(2016, 1, 4), 5250),
   (datetime.date(2016, 1, 5), 4818),
   (datetime.date(2016, 1, 6), 5779),
   (datetime.date(2016, 1, 7), 6047),
   (datetime.date(2016, 1, 8), 5645)]),
 (6050,
  ('R310', 'R053', '01-00-01', '3 AV-149 ST'),
  [(datetime.date(2016, 1, 2), 3653),
   (datetime.date(2016, 1, 3), 2954),
   (datetime.date(2016, 1, 4), 5955),
   (datetime.date(2016, 1, 5), 5553),
   (datetime.date(2016, 1, 6), 6050),
   (datetime.date(2016, 1, 7), 5967),
   (datetime.date(2016, 1, 8), 5962)]),
 (6080,
  ('R240', 'R047', '00-03-07', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 1253),
   (datetime.date(2016, 1, 3), 973),
   (datetime.date(2016, 1, 4), 5751),
   (datetime.date(2016, 1, 5), 5945),
   (datetime.date(2016, 1, 6), 6045),
   (datetime.date(2016, 1, 7), 6080),
   (datetime.date(2016, 1, 8), 5205)]),
 (6092,
  ('R221', 'R170', '01-00-00', '14 ST-UNION SQ'),
  [(datetime.date(2016, 1, 2), 4131),
   (datetime.date(2016, 1, 3), 3895),
   (datetime.date(2016, 1, 4), 5608),
   (datetime.date(2016, 1, 5), 5583),
   (datetime.date(2016, 1, 6), 6092),
   (datetime.date(2016, 1, 7), 5969),
   (datetime.date(2016, 1, 8), 5287)]),
 (6253,
  ('R250', 'R179', '00-00-0B', '86 ST'),
  [(datetime.date(2016, 1, 2), 4984),
   (datetime.date(2016, 1, 3), 3947),
   (datetime.date(2016, 1, 4), 5779),
   (datetime.date(2016, 1, 5), 5816),
   (datetime.date(2016, 1, 6), 5925),
   (datetime.date(2016, 1, 7), 6111),
   (datetime.date(2016, 1, 8), 6253)]),
 (6256,
  ('A033', 'R170', '02-00-05', '14 ST-UNION SQ'),
  [(datetime.date(2016, 1, 2), 3736),
   (datetime.date(2016, 1, 3), 3289),
   (datetime.date(2016, 1, 4), 5667),
   (datetime.date(2016, 1, 5), 5870),
   (datetime.date(2016, 1, 6), 6011),
   (datetime.date(2016, 1, 7), 6256),
   (datetime.date(2016, 1, 8), 4974)]),
 (6300,
  ('R240', 'R047', '00-00-01', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 2177),
   (datetime.date(2016, 1, 3), 1851),
   (datetime.date(2016, 1, 4), 5290),
   (datetime.date(2016, 1, 5), 5363),
   (datetime.date(2016, 1, 6), 6115),
   (datetime.date(2016, 1, 7), 6300),
   (datetime.date(2016, 1, 8), 5409)]),
 (6472,
  ('R251', 'R144', '00-03-02', '96 ST'),
  [(datetime.date(2016, 1, 2), 868),
   (datetime.date(2016, 1, 3), 403),
   (datetime.date(2016, 1, 4), 5940),
   (datetime.date(2016, 1, 5), 6126),
   (datetime.date(2016, 1, 6), 6196),
   (datetime.date(2016, 1, 7), 6472),
   (datetime.date(2016, 1, 8), 5508)]),
 (6502,
  ('R238', 'R046', '00-00-06', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 2261),
   (datetime.date(2016, 1, 3), 1554),
   (datetime.date(2016, 1, 4), 6502),
   (datetime.date(2016, 1, 5), 5570),
   (datetime.date(2016, 1, 6), 5809),
   (datetime.date(2016, 1, 7), 5885),
   (datetime.date(2016, 1, 8), 5439)]),
 (6555,
  ('R250', 'R179', '00-00-00', '86 ST'),
  [(datetime.date(2016, 1, 2), 4295),
   (datetime.date(2016, 1, 3), 3072),
   (datetime.date(2016, 1, 4), 6090),
   (datetime.date(2016, 1, 5), 6243),
   (datetime.date(2016, 1, 6), 6554),
   (datetime.date(2016, 1, 7), 6362),
   (datetime.date(2016, 1, 8), 6555)]),
 (6984,
  ('N606', 'R025', '00-00-07', 'JAMAICA CENTER'),
  [(datetime.date(2016, 1, 2), 3748),
   (datetime.date(2016, 1, 3), 2976),
   (datetime.date(2016, 1, 4), 6615),
   (datetime.date(2016, 1, 5), 6453),
   (datetime.date(2016, 1, 6), 6781),
   (datetime.date(2016, 1, 7), 6984),
   (datetime.date(2016, 1, 8), 6898)]),
 (7338,
  ('N051', 'R084', '02-00-00', '59 ST COLUMBUS'),
  [(datetime.date(2016, 1, 2), 3976),
   (datetime.date(2016, 1, 3), 3126),
   (datetime.date(2016, 1, 4), 6666),
   (datetime.date(2016, 1, 5), 7037),
   (datetime.date(2016, 1, 6), 7187),
   (datetime.date(2016, 1, 7), 7338),
   (datetime.date(2016, 1, 8), 6886)]),
 (7393,
  ('R238', 'R046', '00-03-01', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 3702),
   (datetime.date(2016, 1, 3), 2480),
   (datetime.date(2016, 1, 4), 3742),
   (datetime.date(2016, 1, 5), 6934),
   (datetime.date(2016, 1, 6), 7253),
   (datetime.date(2016, 1, 7), 7393),
   (datetime.date(2016, 1, 8), 7094)]),
 (7929,
  ('N606', 'R025', '00-00-08', 'JAMAICA CENTER'),
  [(datetime.date(2016, 1, 2), 4333),
   (datetime.date(2016, 1, 3), 3422),
   (datetime.date(2016, 1, 4), 7101),
   (datetime.date(2016, 1, 5), 7050),
   (datetime.date(2016, 1, 6), 7823),
   (datetime.date(2016, 1, 7), 7929),
   (datetime.date(2016, 1, 8), 7543)]),
 (8019,
  ('R238', 'R046', '00-00-08', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 3184),
   (datetime.date(2016, 1, 3), 2402),
   (datetime.date(2016, 1, 4), 8019),
   (datetime.date(2016, 1, 5), 7474),
   (datetime.date(2016, 1, 6), 7694),
   (datetime.date(2016, 1, 7), 7698),
   (datetime.date(2016, 1, 8), 7220)]),
 (8077,
  ('R240', 'R047', '00-03-08', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 2214),
   (datetime.date(2016, 1, 3), 1791),
   (datetime.date(2016, 1, 4), 7446),
   (datetime.date(2016, 1, 5), 7925),
   (datetime.date(2016, 1, 6), 8077),
   (datetime.date(2016, 1, 7), 7994),
   (datetime.date(2016, 1, 8), 7074)]),
 (8436,
  ('R238', 'R046', '00-00-07', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 2964),
   (datetime.date(2016, 1, 3), 2068),
   (datetime.date(2016, 1, 4), 8436),
   (datetime.date(2016, 1, 5), 7137),
   (datetime.date(2016, 1, 6), 7359),
   (datetime.date(2016, 1, 7), 7376),
   (datetime.date(2016, 1, 8), 7036)]),
 (9597,
  ('R238', 'R046', '00-00-09', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 3346),
   (datetime.date(2016, 1, 3), 2467),
   (datetime.date(2016, 1, 4), 9597),
   (datetime.date(2016, 1, 5), 7574),
   (datetime.date(2016, 1, 6), 8198),
   (datetime.date(2016, 1, 7), 8277),
   (datetime.date(2016, 1, 8), 7506)]),
 (10033,
  ('R238', 'R046', '00-03-02', 'GRD CNTRL-42 ST'),
  [(datetime.date(2016, 1, 2), 4180),
   (datetime.date(2016, 1, 3), 2972),
   (datetime.date(2016, 1, 4), 4562),
   (datetime.date(2016, 1, 5), 9651),
   (datetime.date(2016, 1, 6), 9539),
   (datetime.date(2016, 1, 7), 10033),
   (datetime.date(2016, 1, 8), 10021)])]

In [ ]:
# 
# plt.show()

In [ ]:
plt.figure(figsize=(10,3))
plt.title(k)
plt.plot(dates,counts)
# for k,v in nlist.items():
#     t = zip(*list(v))
#     dz, cz = t[0], t[1]
#     plt.title(k)
#     plt.plot(dz,cz)
plt.show()

In [ ]:
# plt.figure(figsize=(10,3))
# plt.title(k)
# plt.plot(dates,counts)
for k,v in nlist.items():
    t = zip(*list(v))
    dz, cz = t[0], t[1]
    print dz, cz
    break
#     plt.title(k)
#     plt.plot(dz,cz)
# plt.show()

### Challenge 4

In [ ]:
plt.figure(figsize=(10,3))
extreme = []
empty = []
# print len(day_counts)
for k,v in day_counts.items():
    t = zip(*list(v))
    if len(t)< 2:
        empty.append(tuple([k,v]))
    else:
        dz, cz = t[0], t[1]
        if max(cz) > 10**7:
            extreme.append(tuple([k,v]))
        else:
            plt.title(k)
            plt.plot(dz,cz)

plt.show()

In [ ]:
plt.show()

In [ ]:
data[0][0]

`day_counts` is a solution to Challenge 3.